.footer{
    color: black;
}

.footer:hover{
    color: blue;
}

.p_footer{
    background-color: grey;
    padding: 1em 2em;
    text-align: center;
    color: black;
}

.carousel-item {
    height: 65vh;
    min-height: 580px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }